body {
}

.cardDeckContainer ul {
  margin: 0;
  padding: 0;
}
.cardDeckContainer .card .title {
  color: darkcyan;
}
.cardDeckContainer li {
  border: 1px solid;
  color: darkcyan;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  list-style-type: none;
  display: inline-flex;
  text-indent: 0%;
}
.cardDeckContainer .link {
  color: white;
  background-color: darkcyan;
  border: 1px solid darkcyan;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  display: inline-flex;
}
.card .footer {
  justify-content: space-around;
}
.cardDeckContainer {
  width: 95vw;
  margin: 25px auto;
}

/* Project Cards Styling */
Card.Title {
  color: darkcyan;
}
/* resume page styling */

.resumeContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.resumeContainer h1 {
  color: darkcyan;
}
h4 {
  color: darkcyan;
}
.rightCard {
  align-self: flex-end;
  width: 50vw;
  height: auto;
}

.leftCard {
  align-self: flex-start;
  width: 50vw;
  height: auto;
}
#logo {
  color: darkcyan;
}
