body {
}

.cardDeckContainer {
  width: 95vw;
  margin: 25px auto;
}
/* resume page styling */

.resumeContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
h1 {
  color: darkcyan;
}
.rightCard {
  align-self: flex-end;
  width: 50vw;
  height: auto;
}

.leftCard {
  align-self: flex-start;
  width: 50vw;
  height: auto;
}
