.bodyContainer {
  width: 90%;
  margin: auto;
}
h1 {
  color: red;
}
.rightCard {
  float: right;
  width: 51%;
  height: auto;
  outline: 0px 5px 0px 0px solid grey;
}

.leftCard {
  float: left;
  width: 51%;
  height: auto;
}
